.container--projects{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 5em;
    position: relative;

}

.projects{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projects img{
    width: 600px;
    height: 300px;

}
.title--description{
    width: max-content;
    margin-left: 1em;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.title--description h3{
    margin-bottom: 1em;
}
.title--description p{
    width: 600px;
    flex-wrap: wrap;
}

.projects a{
    text-decoration: none;
    border: 1px solid;
    margin-top: 10px;
    padding: .5em 1em;
    border-radius: 10px;
    cursor: pointer;
}

.projects a:hover {
    transition: 1s;
    border: 1px solid blue;
}


.progressBar{
    margin-top: .2em;
}


@media (max-width: 1139px) {
    .projects {
      height: max-content;
      flex-direction: column;

    }
    
}

@media (max-width: 399px){
    .projects img{
        width: 100%;
        height: auto;
    }
    .title--description{
        margin-left: 0;
        width: 100%;
        
    }
    .title--description p{
        width: 100%;
        text-align: center;
        font-size: .5em;
        flex-wrap: wrap;
    }


}